/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: absolute;
    vertical-align: baseline;
    width: 100%;
    top: 20px;
    align-items: center;
    justify-content: center;
}

.form-container {
    padding: 40px;
    background-color: azure;
    width: 55%;
}

.form {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #393f3f;
}

.timezone-select-label {
    font-size: 20px;
    margin: 5px;
}

.select {
    width: 100%;
    min-width: 15ch;
    max-width: 30ch;
    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
    color: #393f3f;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
  }

.buttons-holder {
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-button {
    margin: 5px;
}

.cancel-button {
    margin: 5px;
}

body {
    margin: 0;
    padding: 0;
	font-family:Verdana, Geneva, sans-serif;
	background-color:#F7AD79;
}

.cards-holder {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.timezone-card {
    margin: 0;
    padding: 0;
    background-color:#F7AD79;
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.time {
    font-size:36px;
    color: azure;
}

.time-div {
    height: 8vh;
}

.date {
    font-size: 20px;
    color: inherit;
}

.hours {
    font-size: 40px;
    font-weight: bold;
    color: inherit;
    display: inline-block;
}

.hours-input {
    display: none;
    font-size: 40px;
    color: #4b4b4b;
    background-color: inherit;
    font-family:Verdana, Geneva, sans-serif;
    font-weight: bold;
    text-align: end;
    padding: 0px;
    margin: 0px;
    height: 48px;
    width: 58px;
    resize: none;
    border: none;
    outline: none;
}

.minutes {
    font-size:40px;
    color: inherit;
    display: inline-block;
}

.minutes-input {
    display: none;
    font-size: 40px;
    color: #4b4b4b;
    background-color: inherit;
    font-family:Verdana, Geneva, sans-serif;
    text-align: end;
    padding: 0px;
    margin: 0px;
    height: 48px;
    width: 58px;
    resize: none;
    border: none;
    outline: none;
}

.colon {
    font-size:40px;
    color: inherit;
    display: inline-block;
}

.timezone-name {
    font-size:20px;
    color: inherit;
}

.timezone-info {
    display: flex;
    color: azure;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}

.timezone-info-dark {
    display: flex;
    color: #393f3f;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}

.timezone-info-selected {
    display: flex;
    color: #393f3f;
    background: azure;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 15%;
    padding-right: 15%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}

.float {
	position: absolute;
    top: 20px;
    left: 20px;
	width:60px;
	height:60px;
	background-color:azure;
	color:#BD80EB;
    border: none;
	border-radius:50px;
	text-align:center;
    font-size: 50px;
}

.remove-button {
    bottom: 20px;
	background-color:rgba(240, 255, 255, 0.496);
	color:#BD80EB;
    border: none;
	border-radius: 20px;
	text-align: center;
    font-size: 20px;
}

.reset-time {
    display: none;
    letter-spacing: 0.6px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
    outline: none;
    width: 100%;
    position: absolute;
    bottom: 90px;
    justify-items: center;
}

.reset-time-button {
    background-color:azure;
    color:#BD80EB;
    font-size: 20px;
    padding: 20px;
    border: none;
    border-radius: 20px;
}